@CHARSET "UTF-8";

form {
	margin: 10px;
	width: 40%;
}

label {
	color: #555;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 2px;
	display: block;
}

input,select,textarea {
	border: 1px solid #999;
	border-radius: 20px;
	font-size: 15px;
	padding: 5px;
}

input,textarea {
	width: 100%;
}

select {
	width: 100%;
}

#telefone {
	width: 100%;
}

input[type=submit]:active {
	box-shadow: 0 2px #111;
	position: relative;
	top: 1px;
}

input[type=reset]:active {
	box-shadow: 0 2px #111;
	position: relative;
	top: 1px;
}

input[type=submit] {
	color: black;
	width: 40%;
	box-shadow: 0 5px 5px #333;
	border: 0;
	margin: 15px 5px 0 8px;
	padding: 10px;
	background: -webkit-linear-gradient(#F0F0F5, #A5A5F2);
	background: linear-gradient(#F0F0F5, #A5A5F2);
}

input[type=reset] {
	color: black;
	width: 40%;
	box-shadow: 0 5px 5px #333;
	border: 0;
	margin: 15px 0 0 6px;
	padding: 10px;
	background: -webkit-linear-gradient(#F0F0F5, #A5A5F2);
	background: linear-gradient(#F0F0F5, #A5A5F2);
}

#mapa {
	position: absolute;
	right: 175px;
	top: 350px;
}
