@CHARSET "UTF-8";

body {
	background-color:#f2dafb;
	width: 90%;
	margin-top: 0;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
	text-align: justify;
	color: #333333;
}

.corpo {
	padding-top: 15px;
}

p {
	text-indent: 30px;
	line-height: 25px;
}

h1 {
	float: left;
	text-indent: -9999px;
	background-image: url(Logo.JPG);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 70px;
	width: 300px;
}

nav ul {
	padding: 0;
	margin: 0;
}

ul {
	line-height: 25px;
}

.menu-principal {
	clear: both;
}

.menu-principal ul li {
	display: inline-block;
	margin: 3px;
	padding-right: 20px;
}

.menu-principal ul li a {
	position: relative;
	top: 0;
	text-decoration: none;
	color: #8c2baf;
}

.menu-principal ul li a:hover {
	top: -2px;
	color: red;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

footer {
	clear: both;
	border-top: 1px groove lightgray;
}

footer nav ul a {
	text-decoration: none;
}

.marca {
	color: #8c2baf;
	position: absolute;
	top: 13px;
}

.bandeiras {
	position: absolute;
	right: 10px;
}

.bandeiras ul li {
	list-style-type: none;
}

.rodape-container {
	position: relative;
	border-top: 1px dotted gray;
	clear: both;
}

.rodape-container ul li {
	float: left;
	margin-right: 15px;
}

.rodape-container ul li a {
	display: block;
	text-indent: -9999px;
	height: 32px;
	width: 32px;
}

.rodape-container a[href*="https://www.linkedin.com/in/camilacostaleitao/"] {
	background-image: url(linkdn.png);
	background-repeat: no-repeat;
}

.rodape-container a[href*="https://github.com/camilacleitao/"] {
	background-image: url(github.png);
	background-repeat: no-repeat;
}

.rodape-container a[href*="contato.html"] {
	background-image: url(contato.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

